@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply text-gray-900 dark:text-gray-300;
}

a {
  @apply text-blue-500 cursor-pointer;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea[type='text'] {
  @apply bg-gray-100 dark:bg-gray-200 text-gray-900 flex-1 block w-full border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 text-lg;
}

button {
  @apply p-2 rounded-md;
}

.continue::before,
.continue::after {
  content: '';
  border-bottom: 1px solid;
  @apply flex-1 border-gray-900 dark:border-gray-400 m-auto;
}
